body {
	max-height: 100vh;
	max-width: 100vw;
}

#joplin-plugin-content {
	width: min(400px, 100vw);
	height: 400px;

	display: flex;
	flex-direction: column;
}

#joplin-plugin-content,
body {
	/* Work around a bug related to non-overlay scrollbars and dialog sizing. */
	scrollbar-width: none;
}

#joplin-plugin-content * {
	box-sizing: border-box;
}

.main-content {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

.beta-warning {
	background-color: var(--joplin-warning-background-color);
	padding: 2px;
}

.note-picker {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 1;

	> .search {
		display: flex;
		flex-direction: column;

		> input {
			width: 100%;
		}
	}
}

.suggestion-list {
	flex-grow: 1;
	flex-basis: 100px;
	overflow-y: auto;

	> .list {
		padding: 2px;
		padding-left: 2px;
		list-style-type: none;
	}

	> .more {
		margin-left: auto;
		margin-right: auto;
		display: none;
	}

	&.-hasMore {
		> .more {
			display: block;
		}
	}
}

.search-suggestion {
	border: 2px solid transparent;
	border-radius: 3px;
	padding: 4px;
	cursor: pointer;

	transition: 0.1s ease border;

	&.-accepted {
		border-color: var(--joplin-code-border-color);
	}

	> .description {
		font-style: italic;
		opacity: 0.9;
	}
}

.search-suggestion-option {
	> label {
		flex-grow: 1;
	}

	> input {
		appearance: none;
	}

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
